
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Room</th>
          <th>Master ID</th>
          <th>Master name</th>
          <th>Specilization</th>
          <th>Priority
            <button (click)="tableSorting('priority')">#</button>
          </th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let task of tasks; let i = index">
          <td>{{ task.taskId }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.room }}, {{ editOn[i] }}</td>
          <td *ngIf="editOn[i] == true" colspan="3">
            <select [ngModel]="task.master" (ngModelChange)="onChangeMaster($event, i)">
              <option  *ngFor="let master of masters; let j = index"
                       [ngValue]="master"  [selected]="task.masterId == master.masterId ? true : null">
                {{ master.name }}, {{ master.spec }}, {{ master.timetable }}
              </option>
            </select>
          </td>
          <td *ngIf="(editOn[i] == false) && task.master != undefined">{{ task.masterId }}</td>
          <td *ngIf="(editOn[i] == false) && task.master != undefined">{{ task.master.name }}</td>
          <td *ngIf="(editOn[i] == false) && task.master != undefined">{{ task.master.spec }}</td>
          <td *ngIf="!task.master && (editOn[i] === false)"></td>
          <td *ngIf="!task.master && (editOn[i] === false)"></td>
          <td *ngIf="!task.master && (editOn[i] === false)"></td>
          <td *ngIf="(editOn[i] == false)">{{ task.priority }}</td>
          <td *ngIf="(editOn[i] == true)">
            <input type="number" class="form-control" name="priority"
                   [(ngModel)]="task.priority" #priority="ngModel"
                   pattern="^([1-9]{1}|(10))" required
                   (change)="onChangePriority(priority.valid, i)"/>
            <div [hidden]="priority.valid || priority.untouched"
                 class="alert alert-danger">Numbers from 1 up to 10!</div>
          </td>
          <td>{{ task.status }}</td>
          <td>
            <button *ngIf="editOn[i] === false" (click)="editor(i)">EDIT</button>
            <button *ngIf="editOn[i]" (click)="save(i)" [disabled]="!priorityValid[i]">SAVE</button>
          </td>
        </tr>
      </table>




