li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
*{
  position: center;
  text-align: center;
  font-family: Arial;
  color: #404541;
  line-height: normal;
}
