<div class="col-xs-10">
  <div class="form-group">
    <ul *ngIf="!done">
      <li>
        <label>Опишите Вашу проблему</label>
        <div aria-setsize="500">
      <textarea class="big_input" rows="7"
                name="description" [(ngModel)]="task.description"
                #description="ngModel" required></textarea>

          <span [hidden]="description.valid || description.untouched"
                class="alarm">Обазятельное поле!</span>
        </div>
      </li>
      <li>
        <label>Введите номер комнаты</label><br>
        <input class="big_input" type="number" name="room" [(ngModel)]="task.room"
               #room="ngModel" required pattern="([2-9]|(1[0-8]))[0-9][0-9]"/>
        <span [hidden]="room.valid || room.untouched"
              class="alarm">Такой комнаты нет!</span>
      </li>
      <li>
        <button class="tag"
                [disabled]="room.invalid || description.invalid"
                (click)="add(); task.room = ''; task.description = ''; room.untouched = true">
          Подать заявку
        </button>
      </li>
    </ul>
    <h2 *ngIf="done" class="messages">Ваша заявка принята!</h2>
    <button *ngIf="done" class="tag" (click)="done = false">Подать еще заявку</button>
  </div>
</div>
